<head>
  <script>
    (function(redirects){
      const old = location.href.split('?')[1];
      const url = redirects[old];
      if (url) location.href = url;
    }({
      'WhatsApp-Vulnerability-Disclosure-Read-Permissions-From-The-File-System-(CVE-2019-18426)': 'https://weizman.github.io/page-whatsapp-vuln/',
      'csp-bypass-vul': 'https://weizman.github.io/page-csp-vuln/',
      'javascript-anti-debugging-some-next-level-shit-part-1': 'https://weizman.github.io/page-js-anti-debug-1/',
      'javascript-anti-debugging-some-next-level-shit-part-2': 'https://weizman.github.io/page-js-anti-debug-2/',
    }));
  </script>
  
  <link href="http://gmpg.org/xfn/11" rel="profile">
  
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="article">
  <meta property="og:url" content="https://dev.to/jamielivingstone/tips-to-become-a-great-software-engineer-10gf">
  <meta property="og:image" content="{{ page.image }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:title" content="{{ page.title }}" />
  
  <meta name="twitter:site" content="@thepracticaldev">
  <meta name="twitter:creator" content="@">
  <meta name="twitter:title" content="Tips to become a great software engineer">
  <meta name="twitter:description" content="Becoming a great software engineer should be a goal that all professionals strive for, but what is...">
  <meta name="twitter:image:src" content="https://dev.to/social_previews/article/1240086.png">

  <meta name="apple-mobile-web-app-title" content="dev.to">
  <meta name="application-name" content="dev.to">
  
  <meta property="forem:name" content="DEV Community 👩&zwj;💻👨&zwj;💻">
  <meta property="forem:logo" content="https://res.cloudinary.com/practicaldev/image/fetch/s--PFPhV65b--/c_limit,f_png,fl_progressive,q_80,w_512/https://practicaldev-herokuapp-com.freetls.fastly.net/assets/devlogo-pwa-512.png">
  <meta property="forem:domain" content="dev.to">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  
  <meta name="last-updated" content="2022-11-10 19:33:05 UTC">
  <meta name="user-signed-in" content="false">
  
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/hyde.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

</head>
