<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}/page-about"> Gal Weizman</a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <ul>
        <li>
          <a class="sidebar-nav-item" href="/?tags=Top">
            🔝 Top Posts
          </a>
        </li>
        <li>
          <a class="sidebar-nav-item" href="https://github.com/weizman/awesome-javascript-realms-security">
            👑 Realms Security
          </a>
          <ul>
            <li>
              <a class="sidebar-nav-item" href="https://github.com/lavamoat/snow">
                ❄️ Snow JS
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="sidebar-nav-item" href="/?tags=CVEs">
            😈 Vulnerabilities & Exploits
          </a>
        </li>
        <li>
          <a class="sidebar-nav-item" href="/page-public/">
            📡 External Media
          </a>
        </li>
        <li>
          <a class="sidebar-nav-item" href="/?tags=Anti-Debug">
            🪲 Anti Debug Research
          </a>
        </li>
        <li>
          <a class="sidebar-nav-item" href="/?tags=Supply-Chain-Security">
            🚚 Supply Chain Security
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
