<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}"> Gal Weizman</a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item" href="/?tags=Top">
        🔝 Top Posts
      </a>
      <br>

      <a class="sidebar-nav-item" href="https://github.com/weizman/awesome-javascript-realms-security">
        👑 Realms Security
      </a>
      and
      <a class="sidebar-nav-item" href="https://github.com/lavamoat/snow">
        ❄️ Snow JS
      </a>
      <br>

      <a class="sidebar-nav-item" href="/?tags=CVEs">
        😈 Vulnerabilities & Exploits
      </a>
      <br>

      <a class="sidebar-nav-item" href="/page-public/">
        📡 External Media
      </a>
      <br>

      <a class="sidebar-nav-item" href="/?tags=Anti-Debug">
        🪲 Anti Debug Research
      </a>
      <br>

      <a class="sidebar-nav-item" href="/?tags=Supply-Chain-Security">
        🚚 Supply Chain Security
      </a>
      <br>
    </nav>
  </div>
</div>
