<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <script>
      const items = ['08', '09', '0a', '0b', '0c', '0d', '0e', '0f'];
      const item = items[Math.floor(Math.random()*items.length)];
      document.body.classList.add('theme-base-' + item);
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('h1,h2,h3,h4,h5,h6,h7,em').forEach(h => {
            if (h.tagName === 'EM') {
              h.id = h.textContent.split(' ').join('-');
            }
            h.oldText = h.textContent;
            h.newText = '( # )' + h.textContent;
            h.oldOpacity = h.style.opacity;
            h.newOpacity = 0.5;
            h.oldCursor = h.style.cursor;
            h.newCursor = 'pointer';
            h.addEventListener('click', () => location.hash = h.id);
            h.addEventListener('mouseover', () => h.textContent = h.newText);
            h.addEventListener('mouseover', () => h.style.opacity = h.newOpacity);
            h.addEventListener('mouseover', () => h.style.cursor = h.newCursor);
            h.addEventListener('mouseout', () => h.textContent = h.oldText);
            h.addEventListener('mouseout', () => h.style.opacity = h.oldOpacity);
            h.addEventListener('mouseout', () => h.style.cursor = h.oldCursor);
        });
      });
    </script>


    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
